body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  
  .password-container {
    position: relative;
    width: 300px;
  }
  
  .password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-password img {
    width: 30px;
    height: 30px;
  }
  
  
  #quotes{
    
    margin: 30px;
    padding: 5px;
    color:antiquewhite;
    font-size: xx-large;
    line-height: 5px;

  }
  #q_background {
  background-color: rgba(255, 255, 255, 0.4); 
  padding: 20px;
  border: 2px solid rgb(27, 6, 95);
  border-radius: 10px;
}

#quotes {
  font-size: 1.5em;
  color: #04406d; 
  text-align: center;
  margin: 0;
}